:host{
    --slds-c-accordion-summary-color-background : #6D3078; 
    --slds-c-accordion-heading-text-color : #FFF2F0;
}

.buttonClass{
    --sds-c-button-neutral-color-background: #f37435;
    --sds-c-button-brand-color-background: #f37435;
    --sds-c-button-text-color: #FFF2F0;
}