.sectionHeading {
    position: absolute;
    margin-left: 1.25%;
}

.editButton {
    margin-left: 88%;
}

.sectionHeadingCommon {
    margin-left: 1.25%;
}

:host{
    --slds-c-accordion-summary-color-background : #6D3078; 
    --slds-c-accordion-heading-text-color : #FFF2F0;
}