.buttonColor{
    --sds-c-button-brand-color-background: rgb(243,116,53);
    --slds-c-button-brand-color-background-hover: rgb(243,116,53);
    --slds-c-button-brand-color-border: rgb(243,116,53);
    --slds-c-button-brand-color-border-hover: rgb(243,116,53);
}