.verifyButton {
    margin-top: 20px;
}

.input-icon{
    position: absolute;
    bottom: 1px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.right-icon{
    right: 1px;
}
 
.buttonIn {
    width: 100%;
    position: relative;
}
 
.input {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
}
 
.button {
    position: absolute;
    top: 0;
    border-radius: 5px;
    right: 0px;
    z-index: 2;
    border: none;
    top: 2px;
    height: 30px;
    cursor: pointer;
    /* color: white; */
    /* background-color: #1e90ff; */
    transform: translateX(2px);
    right: 4px;
    margin-left: 101px;
}

.slds-form-element__label{
    padding-top: 10px;
}
.slds-modal__container {
    max-width: 80rem !important;
    width: 80% !important;
}